#loading-indicator,
body.chart-page {
  background: 0 0;
}

/* .chart-page .chart-container {
  border: 0 !important;
} */

.header-group-intervals {
  float: right;
  background-color: #191919 !important;
  border: 0 !important;
}

.apply-common-tooltip {
  background-color: #191919 !important;
  color: white !important;
}

.group-2JyOhh7Z- + .group-2JyOhh7Z- {
  margin-top: 0 !important;
  padding: 0;
}
.group-2JyOhh7Z- {
  padding: 0;
}
.toolbar-2n2cwgp5- {
  padding: 0;
}
.scrollRight-UDsPWprP-.isVisible-zZk7F7wr-,
.scrollLeft-3OUcqYWy-.isVisible-zZk7F7wr- {
  background-color: #191919;
}

/* btn */
.group-wWM3zP_M- {
  background-color: #191919;
  color: #778ca2 !important;
}

.js-button-text.text-1sK7vbvh- {
  background-color: #191919;
  color: #778ca2 !important;
}

.icon-beK_KS0k- {
  background-color: #191919;
  color: #778ca2 !important;
}

.wrap-18oKCBRc- {
  background-color: #191919;
  color: #778ca2 !important;
}

.dropdown-3_ASLzSj- {
  background-color: #191919;
}

/* btn */

.charts-popup-list {
  left: 750px !important;
}

.button {
  background-color: #191919 !important;
  color: #778ca2 !important;
  width: 45px !important;
  text-align: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 10px !important;
  cursor: pointer;
}

.button.selected {
  color: #179970 !important;
}

#header-toolbar-study-templates::before {
  background-color: rgba(0, 0, 0, 0);
}

.icon-1Y-3MM9F- {
}

.container-3_8ayT2Q- .background-Q1Fcmxly- {
  fill:#000000
}

